/*Rakenteen muotoilu*/
body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 50%;
    background: linear-gradient(120deg, #b198ec, #f3a2d4);
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  /*Listan muotoilu*/
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: linear-gradient(120deg, #f3a2d4, #b198ec);
    font-size: 18px;
    transition: 0.6s;
    border-radius: 35px;
    margin-top: 10px;
    cursor: default;
    border: 2px solid black;
  }

  ul li:nth-child(odd) {
    background: linear-gradient(120deg, #b198ec, #f3a2d4);
    }
 
  ul li:hover {
    background: rgb(255, 255, 255);
  }

  /*Tehdyksi merkitsemisen muotoilu*/
  ul li.checked {
    background: rgb(255, 141, 211);
    color: white;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: double;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /*Poista-napin muotoilu*/
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 35px;
    cursor: default;
  }

  .close:hover {
    background-color: #f7a2d6;
    color: white;
  }

  /*Tehtävälista-boxin muotoilu*/
  .alku {
    background-color: #f3b5db;
    padding: 30px 40px;
    margin: auto;
    margin-top: 10%;
    color: black;
    text-align: center;
    border-radius: 35px;
    border: 2px solid black;
  }

  .alku:after {
    content: "";
    display: table;
    clear: both;
  }

  input {
    margin: 0;
    border-radius: 0;
    width: 75%;
    padding: 8px;
    float: left;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
  }
 
  .addButton {
    padding: 10px;
    width: 25%;
    background: #fa92d2;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 0;
    cursor: default;
  }

  .addButton:hover {
    background-color: #ff71c9;
    color: white;
  }

  /*Tyhjennä-napin muotoilu*/
  #clear-list {
    width: 40%;
    font-size: medium;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 30%;
    background-color: #fa92d2;
    color: black;
    border: 2px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 35px;
  }

  #clear-list:hover {
    background-color: #f582c9;
    color: white;
  }

  /*Laskurin muotoilu*/
  #counterElement {
    text-align: center;
    background-color: rgb(92, 255, 233);
    border: 2px solid black;
    border-radius: 35px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
  }